
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal}
  
*{
    margin: 0;
}

.navbar{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    
}
 .menu{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    
}
.btn{ width: 136px;
    height: 44px;
    background: linear-gradient(
  90deg,
  rgb(247, 233, 63,1) 0%,
  rgb(251, 9, 180,1) 51%,
  rgb(145, 0, 248,1) 100%
);
color: #ffffff;
text-align: center;
align-items: center;
border: none;
border-radius: 16px;
font-weight:600 ;
gap:4px;
padding: 12px 16px;
    

}
.hamburger {
  display: none;
}

.btn span{
    align-items: center;
}
 .hr1{
    height: 2px;
    background-color: #412567;
    border: none;
}


.background-img{
    background-image: url(../assets/hero-bg.png);
    
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    
}
    .banner {
        max-width: 1600px;
  
}
.background-img-insider{
    height: 350px;
    width: 350px;
    background-image: url(../assets/hero-circle.png);
    margin-top: 101px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
 }
    
    .background-img-insider-logo{
        width: 116px;
        height: 175px;
         background-image: url(../assets/microphone.png);
         margin: 77px 116px 97px 116px;

    }
    .badge-new{
        position: absolute;
        top: -2px;
        right: 12px;
        background-color: #00FF88;
        color: #1A0B2E;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 20px;
        width: 75px;
        height: 38px;
        text-align: center;
        align-items: center;
        padding: 8px 16px 8px 16px;
    }
    .badge-new p{
        text-align: center;
        margin-top:16px ;
    }
      .banner-content{
            text-align: center;
        }




  
.hero-content{
    width: 550px;
    margin-top: 479px;
    margin-left: 525px;
    margin-right: 525px;
    align-items: center;
    text-align: center;
    position: absolute;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.hero-content p {
  
  margin-bottom: 24px;
  color: #ffffff;
  opacity:0.8;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 44px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: transparent;
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
    gap: 8px;
    

}
.btn-spotify{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 44px;
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63,1) 0%,
    rgb(251, 9, 180,1) 51%,
    rgb(145, 0, 248,1) 100%);
    color: #ffffff;
    gap:8px;
    border-radius: 20px;
    font-weight: 600;

}
.about{
    width: 100%;
    max-width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
}
.about .about-item{
    
    text-align: center;
    
    align-items: center;
}

.about-h{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.about-p{ color: #FFFFFF;
          line-height: 20px;
          margin-top:20px ;
          opacity: 0.8;
          text-align: center;
          
          
}
.hr-contain{
    display: flex;
    justify-content: center;
     
}
.hr{
    max-width: 1600px;
    width: 75%;
    margin-top: 80px;
    
    border: 1px solid #412567

}


.number-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    text-align: center;
}
.number-h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.number-p{
    color: #FFFFFF;
    line-height: 16px;
    opacity: 0.8;
    margin-top: 16px;
}
  #why-tech{
    width: 100%;
    max-width: 1600px;
    height: 1120px;
    background-color: #230E3D;
  }     
  .why-tech-tittle{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 40px;
  } 
   .why-tech-tittle h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
   }
   .why-tech-content{
    display: grid;
    margin-top: 40px;
    
    gap:30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 250px);
    margin: 0 auto;
   }

   .why-tech-card1{
    border:2px solid rgba(53, 17, 101, 0.4);
    display: grid;
    justify-items:first baseline;
    align-content: center;
    padding-left: 40px;
    border-radius: 16px;
    gap:16px;
    margin-left: 200px;
     
    width: 380px;
    height: 510px;
    grid-row: span 2;
    background-color:  rgba(53, 17, 101, 0.4)
    
   }
   .why-tech-card2{
    border:2px solid rgba(53, 17, 101, 0.4);
     display: grid;
     margin-right: 200px ;
     
    justify-items: first baseline;
    align-content: center;
    align-items: center;
    padding-left: 40px;  
    border-radius: 16px;
    gap:16px;
    max-width: 790px;
    height: 225px;
    grid-column: span 2;
    background-color:  rgba(53, 17, 101, 0.4)
   }
   .why-tech-card3{
    border:2px solid rgba(53, 17, 101, 0.4);
    max-width: 790px;
    height: 225px;
    justify-items: first baseline;
    align-content: center;
    align-items: center;
    padding-left: 40px;
    
    border-radius: 16px;
    
    
    grid-column: span 2;
    margin-top: 10px;
    margin-right: 200px;
    background-color:  rgba(53, 17, 101, 0.4)
   }
   .why-tech-card4{
    border:2px solid rgba(53, 17, 101, 0.4);
    max-width: 790px;
    height: 275px;
    row-gap: 30px;
    grid-column: span 2;
    margin-top: 10px;
    margin-left: 200px;
    justify-items: first baseline;
    align-content: center;
    align-items: center;
    padding-left: 40px;
    border-radius: 16px;
    gap:16px;
    background-color:  rgba(53, 17, 101, 0.4)
   }
   .why-tech-card5{
    border:2px solid rgba(53, 17, 101, 0.4);
    max-width: 380px;
    height: 275px;
    row-gap: 30px;
    grid-row: span 1;
    margin-top: 10px;
    margin-right: 200px;
    justify-items: first baseline;
    align-content: center;
    align-items: center;
    padding-left: 40px;
    border-radius: 16px;
    gap:16px;
    background-color:  rgba(53, 17, 101, 0.4)
   }
   .why-tech-h1
   {
    font-size: 1.5rem;
    font-weight:700 ;
    color: #ffffff;
   }
  
    .why-tech-p1{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    width:300px;
    height: 144px;
   }
 .why-tech-p2{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    width:710px;
    height: 24px;
   }
    
    .why-tech-p3{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    width:710px;
    height: 24px;
    margin-top: 10px;
   }
    .why-tech-p4{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    width:710px;
    height: 72px;
    margin-top: 10px;
   }
    .why-tech-p5{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    width:300px;
    height: 72px;
    margin-top: 10px;
   }
   #feature{
    max-width: 1600px;
    width: 100%;
    height: 1276px;
    background-color: #1A0B2E;
   }
    .feature-tittle{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
   }
   .feature-content{
    display:flex;
    justify-content: space-around;
    gap: 30px;

   }
   .feature-video1{
    border:2px solid #250d44;
    width:380px;
    height:440px;
    background-color: #250d44;
    border-radius: 16px;
    margin-left: 200px;
    border: none;

   }
   .feature-video2{
    border:2px solid #250d44;
    width:380px;
    height:440px;
    background-color: #250d44;
    border-radius: 16px;
    border: none;}
    


.feature-video3{
    border:2px solid #250d44;
    width:380px;
    height:440px;
    background-color: #250d44;
    border-radius: 16px;
    margin-right: 200px;
    border: none;}
    .feature-h{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 24px;
        margin-left: 24px;
    }
    .iframe{
        border-radius: 16px 16px 0 0;
        
    }
    .feature-p{
        margin-top: 12px;
        line-height: 24px;
        opacity: 0.6;
        color: #FFFFFF;
        width: 332px;
        margin-left: 24px;
    }
    .time{
        display: flex;
        color: #00FF88;
        gap:6px;
        font-weight:600 ;
        margin-left: 24px;
        margin-top: 10px;
    }
    .host-tittle{
        display: flex;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 40px;
        color: #FFFFFF;
        font-size: 3rem;
        font-weight: 700;
    }

    

    .host-content{
        display: flex;
        margin: 0 auto;
        align-items: center;
        text-align: start;
        background-color: rgba(53, 17, 101, 0.4);
        border: 2px solid rgba(53, 17, 101, 0.4);
        border-radius: 40px;
        max-width: 1200px;
        height: 280px;
    }


    .social {
  margin-top: 20px;
}

.social-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #533C72;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.social-circle img {
  width: 20px;
  height: 20px;
}
.social-item{
    display: flex;
    gap:8px;
    margin-left: 24px;

}
.host-info h3{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 24px;
}
.host-info p{
    font-size: 1.5rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 0.6;
    margin-top: 16px;
    margin-left: 24px;
    width: 896px;
    height: 72px;
    margin-bottom: 16px;
    
}
.footer{
    max-width: 1600px;
    height: 412px;
    background-image: url(../assets/footer-bg.png);
}
.footer-text{
    display: flex;
    justify-content: center;
    
}
.footer-text img{
     max-width: 410px;
     height: 60px;
     padding-top: 120px;
}
.socialicon{
    display: flex;
    justify-content: center;
    gap:30px;
    
    
    
}
.social1{
    display: flex;
    gap:5px;
    color: #FFFFFF;
    padding-top: 32px;
    max-width: 544px;
    height: 24px;
    
}
.copyright-container{
    display: flex;
    justify-content: center;
}
.copyright{
    color: #FAFAFA;
    line-height: 24px;
    opacity: 0.6;
    margin-top: 32px;
}
.btn-spotify:hover{
    background-color: darkcyan;
    color: #FFFFFF;
}
.btn-subscribe:hover{
    background-color: darkcyan;
    color: #00FF88;
}
.btn:hover{
    background-color: darkcyan;
    color: rgb(255, 240, 249);
}
.background-img-insider-logo {
  animation: micFloat 3s ease-in-out infinite;
}


.background-img-insider-logo {
  animation: micFloat 3s ease-in-out infinite;
}

@keyframes micFloat {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.06);
  }
  100% {
    transform: translateY(0) scale(1);


@media screen and (max-width:576px) { .navbar, .menu, .background-img, .background-img-insider, .hero-buttons, .btn-subscribe, .btn-spotify, .hr-contain, .number-container, .why-tech-tittle, .feature-tittle, .feature-content, .time, .host-tittle, .host-content, .social-circle, .social-item, .footer-text, .socialicon, .social1, .copyright-container{
    flex-direction:column ;

}
   .why-tech-card1, .why-tech-content, .why-tech-card2{
    grid-template-columns: repeat(1,1fr);
    
   }
   
  

}

}
}
